altair==5.5.0
Bio==1.8.1
biopython==1.85
fastapi==0.121.0
joblib==1.5.2
mappy==2.30
matplotlib==3.10.7
numpy==2.3.4
pandas==2.3.3
py3dmol==2.5.3
pydantic==2.12.3
Requests==2.32.5
scikit_learn==1.7.2
starlette==0.48.0
stmol==0.0.9
streamlit==1.49.1
tenacity==9.1.2
torch==2.9.0
openpyxl==3.1.5
uvicorn==0.35.0
python-multipart==0.0.20